# files
# *.jpg
# *.png
*.mp4
*.pt
*.pth
*.ckpt
*.json
*.pcd
*.bin
*.pkl

# folders
data/*
result/*
result/deepfusionmot_allcat/*
result/yolov5_allcat/test/*
kimgh/test/*
workers/*
models/pre_models/*
__pycache__/*